<div *ngFor="let post of arrayPosts;">
    <h3>{{post.titulo}}</h3>
    <small>{{post.autor}}</small>
    <p>{{post.texto}}</p>
</div>

<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="posts.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>


<div class="card-columns">

    <app-new-blog [post]="post" [index]="post.idx" *ngFor="let post of posts">
        </app-new blog>



</div>